@model Sistema_Registro.Models.Registro_Nota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registro_Nota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asignatura_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asignatura_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprobada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprobada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
